LOG_LEVEL=DEBUG

# UM API Directory
API_DIR_URL=
API_DIR_CLIENT_ID=
API_DIR_SECRET=

# Application Database
# Provided values are for database managed by docker-compose
DB_NAME=placement_exams_local
DB_USER=pe_user
DB_PASSWORD=pe_pw
DB_HOST=placement_exams_mysql
DB_PORT=3306

# Django-specific variables
SECRET_KEY=
TIME_ZONE=

# this will run every 30 minutes, this option is just for local run
CRONTAB_SCHEDULE=*/30 * * * *
# this is used in test env only, bool variable for enabling random failing of sending the scores
test_enable_score_randomizer=
# this is for testing purpose if you want to mimic failure of sending scores to mpathways
env = test
smpt_host=localhost
smpt_to=pxxx@umich.edu
smpt_from=yyyy@umich.edu
smpt_port=1025
# 0 = don't show email msg. 1 = show debug email msg. 2 = show email sent with timestamp
smpt_debug=1